<div class="screen">
  <div class="view view--half_vertical">
    <div class="layout layout--col gap--small" style="justify-content: flex-start;">
      <div class="flex flex--col gap--xsmall">
        <div class="flex flex--row flex--center-y gap--small mb--small">
          <span class="title title--small">{{ today_date }}</span>
          <div class="divider grow"></div>
        </div>
        {% if today_events.size > 0 %}
          {% for event in today_events limit: 3 %}
            <div class="item">
              <div class="content flex flex--row flex--center-y gap--small">
                <span class="label label--small" style="min-width: 62px;">{{ event.time }}</span>
                <span class="description" data-clamp="1">{{ event.title }}</span>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <span class="description text--gray-50">No events</span>
        {% endif %}
      </div>
      <div class="flex flex--col gap--xsmall">
        <div class="flex flex--row flex--center-y gap--small mb--small">
          <span class="title title--small">{{ tomorrow_date }}</span>
          <div class="divider grow"></div>
        </div>
        {% if tomorrow_events.size > 0 %}
          {% for event in tomorrow_events limit: 3 %}
            <div class="item">
              <div class="content flex flex--row flex--center-y gap--small">
                <span class="label label--small" style="min-width: 62px;">{{ event.time }}</span>
                <span class="description" data-clamp="1">{{ event.title }}</span>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <span class="description text--gray-50">No events</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
